@{
    ViewData["Title"] = "Liên hệ";
}

<div class="container my-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1 class="mb-4">Liên hệ với chúng tôi</h1>
            
            <div class="row mb-4">
                <div class="col-md-6 mb-3">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <i class="bi bi-geo-alt fs-1 text-primary"></i>
                            <h5 class="card-title mt-3">Địa chỉ</h5>
                            <p class="card-text">Nguyễn Thiện Thành, Khóm 4, Phường 5<br>TP. TRÀ VINH</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <i class="bi bi-telephone fs-1 text-primary"></i>
                            <h5 class="card-title mt-3">Điện thoại</h5>
                            <p class="card-text">0768867054<br>0795930020</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <i class="bi bi-envelope fs-1 text-primary"></i>
                            <h5 class="card-title mt-3">Email</h5>
                            <p class="card-text">thanhhoan@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <i class="bi bi-clock fs-1 text-primary"></i>
                            <h5 class="card-title mt-3">Giờ làm việc</h5>
                            <p class="card-text">8:00 - 22:00<br>Tất cả các ngày trong tuần</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
